<%- include('partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>404 What are you looking for</title>

<%- include('partials/navbar') %>


<main id="main">

  <section class="breadcrumbs">
    <div class="container">

    </div>
  </section>

  <section class="nothing">
    <div class="container">
      <h1>404 Page not found. There's nothing here. Go back to <a href="/">Home Page</a></h1>
    </div>
  </section>

</main>



<%- include('partials/footer') %>
