<%- include('partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>Make You Healthier</title>

<%- include('partials/navbar') %>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h1>Your Personalised Health and Fitness Stop</h1>
    <a href="#services" class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
          <div class="content">
            <h3>ALARMING TRENDS IN AUSTRALIA</h3>
            <p>
              It is an alarming trend that two-thirds of adults are now overweight or obese, but people taking actions to protect their health are declining. Victoria is at the helm of this with many of the state’s individuals doing limited exercise and following unhealthy diet routines.
            </p>
          </div>
        </div>

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-bar-chart-alt"></i>
                  <h4>OBESITY IN Australia</h4>
                  <p>There are around 67% of Australians experiencing health issues due to obesity right now.</p>
                  <nav id="navbar" class="navbar bottom-of-div">
                    <a class="getstarted scrollto" href="https://www.aihw.gov.au/reports/australias-health/overweight-and-obesity" class="filter-sport-button round-green-button" target="_blank">Learn more</a>
                  </nav>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Prevention method</h4>
                  <p>A well-know fact: diets and exercises are 2 key elements for staying away from obesity</p>
                  <nav id="navbar" class="navbar bottom-of-div">
                    <a class="getstarted scrollto" href="https://www.aihw.gov.au/reports/australias-health/australias-health-2018/contents/bmi-where-do-you-fit/diseases-linked-to-overweight-and-obesity" class="filter-sport-button round-green-button"
                      target="_blank">Learn more</a>
                  </nav>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-plus-medical"></i>
                  <h4>Diseases linked to overweight and obesity</h4>
                  <p>Diabetes, Coronary Heart Disease, Dementia, Breast Cancer, Osteoarthritis…</p>
                  <nav id="navbar" class="navbar bottom-of-div">
                    <a class="getstarted scrollto" href="https://www.aihw.gov.au/reports/australias-health/australias-health-2018/contents/bmi-where-do-you-fit/diseases-linked-to-overweight-and-obesity" class="filter-sport-button round-green-button"
                      target="_blank">Learn more</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End .content-->

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="67" data-purecounter-duration="1" class="purecounter" style='display: inline;'></span><span style='display: inline;'> %</span>
          <p id="font-onetwo">of Australian adults are overweight</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span>12.5 M</span>
          <p id="font-onetwo">of Australia adults are prone to obesity</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="75" data-purecounter-duration="1" class="purecounter" style='display: inline;'></span><span style='display: inline;'> %</span>
          <p id="font-onetwo">of Australian males are overweight</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1" class="purecounter" style='display: inline;'></span><span style='display: inline;'> %</span>
          <p id="font-onetwo">of Australian females are overweight</p>
        </div>
      </div>
    </div>
  </section><!-- End Counts Section -->

  <!-- NEWLY ADDED : User Journey Guide-->
  <section class="page-section" id="user-journey">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">JOURNEY TO FITNESS</h2>
        <h3 class="section-subheading text-muted">Questions about where to start?</h3>
      </div>
      <ul class="timeline">

        <li data-aos="fade-right">
          <div class="timeline-image"><a href="/obese-info-cause"><img class="rounded-circle img-fluid" src="/assets/img/about/nag_source.png" alt="..." /></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--              <h4>2009-2011</h4>-->
              <br><br>
              <h4 class="subheading">Navigate the Cause</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">"What could be the causes for obesity? <br /> What should I be cautious of?"</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" data-aos="fade-left">
          <div class="timeline-image"><a href="/obese-info-effect"><img class="rounded-circle img-fluid" src="/assets/img/about/harms.png" alt="..." /></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--              <h4>March 2011</h4>-->
              <br><br>
              <h4 class="subheading">Impacts of Obesity</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">"What type of potential diseases can occur due to obesity ? Will it be harmful to me?"</p>
            </div>
          </div>
        </li>
        <li data-aos="fade-right">
          <div class="timeline-image">
            <!-- <a href="/input-report">
                        <img class="rounded-circle img-fluid" src="/assets/img/about/meal.png" alt="..." />
                      </a> -->
            <form method="POST" action="/show-report" id='myform-diet'>
              <a onclick="document.getElementById('myform-diet').submit(); return false;" href="/show-report">
                <img class="rounded-circle img-fluid" src="/assets/img/about/meal.png" alt="..." />
              </a>
            </form>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--              <h4>December 2015</h4>-->
              <br>
              <h4 class="subheading">Solution Part 1: Meals</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">"What is the appropriate daily intake of calories?<br />What meals can I have for a proper diet?<br /> How can I make them?"</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted" data-aos="fade-left">
          <div class="timeline-image">
            <!-- <a href="/show-map">
                        <img class="rounded-circle img-fluid" src="/assets/img/about/exercise.png" alt="..." />
                      </a> -->
            <form method="POST" action="/show-map" id='myform-map'>
              <a onclick="document.getElementById('myform-map').submit(); return false;" href="/show-map">
                <img class="rounded-circle img-fluid" src="/assets/img/about/exercise.png" alt="..." />
              </a>
            </form>


          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--              <h4>July 2020</h4>-->
              <br>
              <h4 class="subheading">Solution Part 2: Exercise</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">"What type of exercises are most suitable for me? <br />Are there any good places for doing these exercises?"</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <a href="/obese-info" style='color:white;'>
              <h4>
                Let's
                <br />
                start your
                <br />
                Journey!
              </h4>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>


  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <h2>want to feel healthier and fitter?</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <p id="font-onetwo">
            Check out our services where we give you the important information about obesity. We also give you personalised diet and exercise recommendations based on your health information!
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 vertical-center">
          <div class="section-title" data-aos="fade-right">
            <h1 class='display-3'>Our Services</h1>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <a href="/obese-info">
                  <div class="icon"><i class="bx bx-info-circle"></i></div>
                </a>
                <h4><a href="/obese-info">General Info</a></h4>
                <p>Get the information about causes, symptoms and treatment options for obesity</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <form method="POST" action="/show-report" id='myform-diet'>
                  <!-- <a href="/input-report"><div class="icon "><i class="bx bxs-report"></i></div></a> -->
                  <a onclick="document.getElementById('myform-diet').submit(); return false;" href="/show-report">
                    <div class="icon"><i class="bx bxs-report"></i></div>
                  </a>
                </form>

                <!-- <a href="/input-report">Diet Recommendation</a> -->
                <h4>
                  <form method="POST" action="/show-report" id='myform-diet'>
                    <!-- <a href="/input-report"><div class="icon "><i class="bx bxs-report"></i></div></a> -->
                    <a onclick="document.getElementById('myform-diet').submit(); return false;" href="/show-report">Diet Recommendation</a>
                  </form>
                </h4>
                <p>Get diet recommendation based on my current health statistics</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 center-block">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <!-- <a href="/show-map"><div class="icon"><i class="bx bx-map"></i></div></a> -->

                <form method="POST" action="/show-map" id='myform-map'>
                  <a onclick="document.getElementById('myform-map').submit(); return false;" href="/show-map">
                    <div class="icon"><i class="bx bx-map"></i></div>
                  </a>
                </form>

                <!-- <h4><a href="/show-map">Find Your Exercise Location</a></h4> -->
                <h4>
                  <form method="POST" action="/show-map" id='myform-map'>
                    <a onclick="document.getElementById('myform-map').submit(); return false;" href="/show-map">Find Your Exercise Location</a>
                  </form>
                </h4>
                <p>Get exercise location near you for specific exercise that you want to do</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->





</main><!-- End #main -->
<%- include('partials/footer') %>
