<%- include('partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>Motivation</title>

<link href='css/game.css' rel='stylesheet' />



<%- include('partials/navbar') %>

<main id='main'>
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Finding your Motivation</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Motivation Page</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- Map section -->
  <section class='map'>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 align="center">FIND YOUR MOTIVATION</h1>

        </div>
      </div>
    </div>
  </section>

  <!-- ======= Tip Trick Section ======= -->
  <section id="testimonials" class="testimonials section-bg bg-light">
    <div class="container">
      <div class="row">
        <h2 align='center'>Tips & Tricks</h2>
        <p align='center'>Here are some tips and tricks that will help you lose your weight.</p>

        <!-- Tip 1 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/1.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>Drinking water can boost metabolism by 24–30% over a period of 1–1.5 hours, helping you burn off a few more calories.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>1. Drink Water, Especially Before Meals</h5>
            </div>
          </div>
        </div>
        <!-- End tip 1 -->

        <!-- Tip 2 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/2.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>Studies show that the caffeine in coffee can boost metabolism by 3–11% and increase fat burning by up to 10–29%.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>2. Drink Coffee (Preferably Black)</h5>
            </div>
          </div>
        </div>
        <!-- End tip 2 -->

        <!-- Tip 3 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/3.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>Chili peppers contain capsaicin, a spicy compound that can boost metabolism and reduce your appetite slightly.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>3. Eat Spicy Foods</h5>
            </div>
          </div>
        </div>
        <!-- End tip 3 -->

        <!-- Tip 4 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/4.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>Studies show that people who eat vegetables and fruits tend to weigh less.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>4. Eat More Vegetables and Fruits</h5>
            </div>
          </div>
        </div>
        <!-- End tip 4 -->

        <!-- Tip 5 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/5.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>A recent study found that 19.9% of people in North America and Europe fulfill the criteria for food addiction.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>5. Beat Your Food Addiction</h5>
            </div>
          </div>
        </div>
        <!-- End tip 5 -->

        <!-- Tip 6 -->
        <div class="col-lg-4 margin-tip">
          <div class="card" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="/assets/img/tip/6.png" class="card-img-top" alt="...">
            <div class="overlay">
              <div class="nutri_info">
                <h6>If anything, people who diet tend to gain more weight over time, and studies show that dieting is a consistent predictor of future weight gain.</h6>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" align='center'>6. Don't Diet — Eat Healthy Instead</h5>
            </div>
          </div>
        </div>
        <!-- End tip 6 -->


      </div>
    </div>
  </section><!-- End Tip Trick Section -->

  <!-- Success story-->
  <section>
    <div class="container">
      <div class="row">
        <hr>
        <h1 align='center'>Success Stories</h1>
        <!-- First story -->
        <div class="col-md-5 item-center">
          <img class="item" src="/assets/img/success_story/1.jpg">
          <p class="item">Courtesy of Kevin Gendreau</p>
        </div>

        <div class="col-md-7 mb-5 content-green-bg">
          <div class="icon-box" data-aos-delay="200">
            <br>
            <h3 align="center" style="font-weight: bold">The doctor who lost 57 kgs after beating his food addiction</h3>
            <p>Kevin Gendreau, MD, 31, wrestled with a food addiction for more than a decade, and was 139 kgs at his heaviest.</p>
            <p>In his own terms he said "I was diagnosed with high blood pressure, hypertension, high cholesterol, fatty liver disease, and sleep apnea, among other things,"</p>
            <p>"I knew they were all because of my eating habits, but I just couldn't stop."</p>
            <p>But when his sister was diagnosed with terminal cancer in 2016, it became a wake-up call for him to make his physical health a priority. "What she was going through wasn't her choice," he said. "What I was doing to myself was."</p>
            <p>By cutting out all the junk food and replacing it with a diet rich in fruits, vegetables, nuts, and protein, Gendreau lost 57 kgs in 18 months and was healthy again.</p>
          </div>
        </div><!-- End first story -->

        <!-- Second story -->
        <div class="col-md-7 icon-boxes">
          <div class="icon-box" data-aos-delay="200">
            <br>
            <h3 align="center" style="font-weight: bold">The man who lost 68 kgs thanks to his college professor</h3>
            <p class='text'>When Joey Morganelli was 16 years old, he watched his father die of a heart attack right in front of him, only three years after losing his mother to cancer. Looking for a way to cope with such tragedy and loss, he turned
              to food. By the time he graduated high school, he weighed 181 kgs.</p>
            <p class='text'>Then he started eating nutritious, home-cooked meals instead of fast food. He eventually grew more devoted, switching to a vegan diet, and losing 68 kgs by mid-2018.</p>
            <p class='text'>He said on Instagram that while losing weight is difficult, facing yourself and dealing with the reasons that led you to overeat in the first place is far more difficult. He wrote, "Give yourself a fair fight and take off
              your blindfold." "It'll take you someplace you never imagined you could go."</p>
          </div>
        </div>

        <div class="col-md-5 mb-5 item-center">
          <img class="item" src="/assets/img/success_story/2.jpg">
          <p class="item">Joey Morganelli/Instagram</p>
        </div><!-- End second story -->

        <!-- Third story -->
        <div class="col-md-5 item-center">
          <img class="item" src="/assets/img/success_story/3.jpg">
          <p class="item">Mary Jane O'Toole/Instagram</p>
        </div>

        <div class="col-md-7 mb-5 content-green-bg">
          <div class="icon-box" data-aos-delay="200">
            <br>
            <h3 align="center" style="font-weight: bold">The bride who lost 61 kgs and wore her dream wedding dress</h3>
            <p>Mary Jane O'Toole couldn't have been happier when she and her longtime partner got engaged in 2016. However, at 128 kgs, selecting a wedding gown was a difficult task.</p>
            <p>"I didn't want to buy a plus-size wedding dress, because they cost way more than straight sizes," O'Toole told People in April. "I felt like I was paying this fat tax—I didn't have the ability to buy affordable clothes because I was
              bigger."</p>
            <p>O'Toole shed 34 kgs in the first year and another 11 kgs after the couple started exercising together. She had shed a total of 61 kgs by the time the wedding came around early this year, and she was able to walk down the aisle in the
              dress of her dreams.</p>
          </div>
        </div><!-- End third story -->

        <!-- Fourth story -->
        <div class="col-md-7 icon-boxes">
          <div class="icon-box" data-aos-delay="200">
            <br>
            <h3 align="center" style="font-weight: bold">The teen who lost 80 kgs and fell in love with fitness</h3>
            <p class='text'>Hunter Croteau had to see the doctor to learn that he weighed 166 kg because his home scale was no longer capable of weighing him. Croteau plunged himself into a healthy diet after graduating from high school, with the help of his family. However, after two weeks, he slipped off the wagon.</p>
            <p class='text'>Croteau told Yahoo! Lifestyle in July, "I knew lying in bed that night that I wasn't going to go back on the diet the next morning, and I needed to undertake a radical move." His doctor recommended a sleeve gastrectomy, which eliminates about 80% of the stomach and so restricts the amount of food a person can eat.</p>
            <p class='text'>Croteau decided to have the surgery, even though he was "extremely nervous" going into the operation. After the surgery Croteau became very interested in the science of gymnasiums and have good routine and now aims to be a professional trainer. With discipline, effort and proper diet we can achieve our goals "Sometimes all you have to do is believe and you are halfway there!"</p>
          </div>
        </div>

        <div class="col-md-5 item-center">
          <img class="item" src="/assets/img/success_story/4.jpg">
          <p class="item">Hunter Croteau/Instagram</p>
        </div><!-- End fourth story -->

        <p class='mt-5'>*Source of success stories <a href="https://bestlifeonline.com/weight-loss-success-stories/" target='_blank'>Here</a></p>
      </div>
    </div>
  </section><!-- End success story-->

  <!-- Game -->
  <section id='game' class='bg-light'>
    <div class="container">
      <div class="row">
        <h1 align='center'>Let's have a quiz to help Claire lose her weight!</h1>
        <div class="col-md-8 center-block main-panel" style='border: 1px solid black'>
          <!--The black blink abd the background-->
          <div id="front"></div>
          <div id="back"></div>
          <!-- -->
          <!--First page-->
          <div class="text">
            <p id="content">Obesity is a very prevalent issue in this country with more than 75% of the population facing the risk of being overweight. It is important to focus on your health and not fall prey to chronic diseases such as liver, kidney diseases and high blood pressure.<br />
            Today we shall help Claire make life choices to avoid obesity. We help her through the journey and stay motivated.</p>
            <div id="all">
              <button class="answer answer-block" id="ans1">Let's start</button>
              <br />
              <button class="answer hidden-form" id="ans2">Don"t start</button>
              <br />
              <button class="answer hidden-form" id="ans3">Salads</button>
              <br />
              <button class="answer hidden-form" id="ans4">Eat nothing</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg take-action-bg">
    <div class="container">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
            <h1 align='center' style='color: white;'>Time to Take Action!</h1>
        </div>
      </section><!-- End Breadcrumbs -->
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-5 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <form method="POST" action="/show-report" id="myform-diet">
                  <!-- <a href="/input-report"><div class="icon "><i class="bx bxs-report"></i></div></a> -->
                  <a onclick="document.getElementById('myform-diet').submit(); return false;" href="/show-report">
                    <div class="icon"><i class="bx bxs-report"></i></div>
                  </a>
                </form>
                <!-- <a href="/input-report">Diet Recommendation</a> -->
                <h4>
                  <form method="POST" action="/show-report" id="myform-diet">
                    <!-- <a href="/input-report"><div class="icon "><i class="bx bxs-report"></i></div></a> -->
                    <a onclick="document.getElementById('myform-diet').submit(); return false;" href="/show-report">Diet Recommendation</a>
                  </form>
                </h4>
                <p>Get diet recommendation based on my current health statistics</p>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-stretch"></div>

            <div class="col-md-5 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <!-- <a href="/show-map"><div class="icon"><i class="bx bx-map"></i></div></a> -->
                <form method="POST" action="/show-map" id="myform-map">
                  <a onclick="document.getElementById('myform-map').submit(); return false;" href="/show-map">
                    <div class="icon"><i class="bx bx-map"></i></div>
                  </a>
                </form>
                <!-- <h4><a href="/show-map">Find Your Exercise Location</a></h4> -->
                <h4>
                  <form method="POST" action="/show-map" id="myform-map">
                    <a onclick="document.getElementById('myform-map').submit(); return false;" href="/show-map">Find Your Exercise Location</a>
                  </form>
                </h4>
                <p>Get exercise location near you for specific exercise that you want to do</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

</main>


<script src='js/game.js'></script>
<%- include('partials/footer') %>
