<%- include('partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>External Help</title>

<!-- include css -->
<link rel="stylesheet" href="/css/sponsor_custom.css">

<%- include('partials/navbar') %>
<main>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Want to get some external help?</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>External Help</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- Sponsor Info display as cards -->
  <section class="light sponsor-cards">
    <div class="container py-2">
      <article class="postcard light blue">
        <a class="postcard__img_link" href="https://www.diabetesvic.org.au/" target='_blank'>
          <img class="postcard__img" src="/assets/img/sponsors/dia-vic.png" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a href="https://www.diabetesvic.org.au/" target='_blank'>Diabetes Victoria</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Since 1953, Diabetes Victoria has been the peak consumer body and leading charity working to reduce the impact of diabetes in the Victorian community. Diabetes Victoria’s mission is to support, empower and campaign for all Victorians
            affected by, or at risk of, diabetes.
          </div>
        </div>
      </article>

      <article class="postcard light red">
        <a class="postcard__img_link" href="https://www.cancervic.org.au/" target='_blank'>
          <img class="postcard__img" src="/assets/img/sponsors/ccv-logo.jpeg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="https://www.cancervic.org.au/" target='_blank'>Cancer Council Victoria</a></h1>

          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Cancer Council Victoria's core business is cancer control. Cancer Council conducts and supports research, as well as delivering state-wide support and prevention programs and advocacy to reduce the physical and emotional burden of cancer.
            Its leaders are of international standing and we are significantly and positively influencing the cancer agenda in Victoria and beyond.
          </div>
        </div>
      </article>

      <article class="postcard light green">
        <a class="postcard__img_link" href="https://www.vichealth.vic.gov.au/" target='_blank'>
          <img class="postcard__img" src="/assets/img/sponsors/vichealth.jpeg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title green"><a href="https://www.vichealth.vic.gov.au/" target='_blank'>VicHealth</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            The Victorian Health Promotion Foundation, best known as VicHealth, is a world
            leader in health promotion. It partners with a diverse array of organisations, communities and individuals to facilitate projects and programs that promote good health and wellbeing, and prevent ill health. VicHealth contributes to public
            policy, strategy and advocacy in the area of health and wellbeing and auspices in-house and funded research. It also runs campaigns aimed at educating individual Victorians to make lifestyle decisions that impact positively on their
            health. The organisation is globally known for its innovation and success in social, environmental and behavioural change.
          </div>
        </div>
      </article>

      <article class="postcard light yellow">
        <a class="postcard__img_link" href="https://globalobesity.com.au/" target='_blank'>
          <img class="postcard__img" src="/assets/img/sponsors/globe.jpeg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title yellow"><a href="https://globalobesity.com.au/" target='_blank'>The Global Obesity Centre at Deakin University</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            The Global Obesity Centre (GLOBE) is a research group based in the Centre for Population Health Research at Deakin University. GLOBE is a designated World Health Organization Collaborating Centre for Obesity Prevention.
          </div>

        </div>
      </article>

      <article class="postcard light red">
        <a class="postcard__img_link" href="https://lifeprogram.org.au/" target='_blank'>
          <img class="postcard__img" src="/assets/img/sponsors/Life_logo.png" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="https://lifeprogram.org.au/" target='_blank'>Life! Program</a></h1>

          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Life! is a free healthy lifestyle program that helps you improve your eating habits, increase your physical activity and manage stress. You can choose from a group course or the Telephone Health Coaching service.
          </div>
        </div>
      </article>
    </div>
  </section>

</main>
<%- include('partials/footer') %>
