#content {
  position: relative;
  font-size: 140%;
  /* background: linear-gradient(135deg, rgba(100, 100, 100, 0.6), rgba(20, 20, 20, 0.7)); */
  background: #009970;
  padding: 8px;
  border: 2px solid #333;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-shadow: 0 0 1px black;
}

.main-panel {
  position: relative;
  max-width: 1000px;
  height: 600px;
}

#back {
  background: url("/assets/img/game/background.jpg");
  position:absolute;
  top:0;
  left:0;
  background-size: cover;
  transition: all 1s;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.text {
  position: relative;
  z-index: 5;
  color: white;

}

.answer {
  text-align: center;
  position: relative;
  margin: auto;
  font-size: 110%;
  /* background: rgba(50, 50, 50, 0.7); */
  background: #009970;
  color: white;
  border: 1px solid black;
  z-index: 3;
}

.answer-block {
  display: block;
}

/* #back {
  background: url("https://www.dropbox.com/s/pd5ralmom7zh419/inside-abandoned-house-photos-old-room-life-long-gone-gary-heller.jpg?dl=1");
  position: fixed;
  background-size: cover;
  transition: all 0.5s;
  z-index: 3;
  width: 100%;
  height: 100%;
} */

#front {
  position: fixed;
  background-color: black;
  z-index: 2;
}

#all {
  transition: all 0.5s;
}

.message {
  padding: 2px;
  border-radius: 0 15px 15px 15px;
  margin: 5px;
  color: white;
  opacity: 0;
  margin-top: 25px;
  background-color: rgba(0, 0, 150, 0.8);
}

#buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  word-spacing: 15px;
  font-size: 150%;
  color: white;
}

button {
  outline: none;
}
