<%- include('../partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>Impacts of Obesity</title>

<%- include('../partials/navbar') %>
<!-- include css -->
<link rel="stylesheet" href="/css/obese_impact_custom.css">
<link rel="stylesheet" href="/css/sponsor_custom.css">

<!-- include css cursor to have collapsable blocks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<main>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Impacts of Obesity</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/obese-info">General Info</a></li>
          <li>Impacts of Obesity</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- Intro block -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 offset-md-1 d-flex align-items-stretch one-cat-left">
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 one-cat-right">
            <div class="icon-box" data-aos-delay="200">
              <br><br>
              <h3 align="center" style="font-weight: bold">Impacts of Obesity</h3>
              <p align="center">
                Being in a state of obesity for a long term could bring damage on different aspects.
                Personal health condition, both <span style="color: darkslategrey; font-weight: bold">physical</span> level and <span style="color: darkslategrey; font-weight: bold">mental</span> level can be heavily impacted.
                In addition, impacts upon <span style="color: darkslategrey; font-weight: bold">social</span> and <span style="color: darkslategrey; font-weight: bold">economic</span> aspects can also be brought,
                although they are often ignored by public.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <img src="/assets/img/effect.png" class="obese-img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs-inner">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Physical Health</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Physical Health Block ======= -->
  <section class="phy-health" id="portfolio">
    <div class="container">
      <div class="row justify-content-center">
        <br><br>
        <div class="col-md-6 d-flex align-items-stretch one-cat-left" id="phy-img-div">
          <br><br>
          <img src="/assets/img/obeseinfo/impacts/physicaldisease.png" id="phy-health-img">
        </div>
        <br><br>
        <div class="col-lg-3 col-sm-6 mb-3">
          <div class="portfolio-item">

            <!-- Impact 1-->
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/type2d.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Type 2 Diabetes</div>
            </div>
          </div>

          <!-- Impact 2-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/heartdi2.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Heart Diseases </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">

          <!-- Impact 3-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/stroke.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Stroke</div>
            </div>
          </div>

          <!-- Impact 4-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/bloodpressure.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">High Blood Pressure </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs-inner">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Mental Health</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Mental Health Block ======= -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">

          <!-- Impact 1-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/anxiety.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Anxiety</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">

          <!-- Impact 2-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/edisorder.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Eating Disorders</div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">

          <!-- Impact 3-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/impacts/depre.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Schizophrenia</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs-inner">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Economic Costs</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->


  <!--    <section>-->
  <!--        <div class="container">-->
  <!--            <div class="row justify-content-center">-->
  <!--                <div class="col-md-10 offset-md-1 d-flex align-items-stretch one-cat-left">-->
  <!--                    &lt;!&ndash;                    <div class="col-md-2 d-flex align-items-stretch color-block-white">test</div>&ndash;&gt;-->
  <!--                    <div class="col-md-4 d-flex align-items-stretch">-->
  <!--                        <img src="/assets/img/obeseinfo/impacts/dcosts.png" class="obese-img">-->
  <!--                    </div>-->
  <!--                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 one-cat-right">-->
  <!--                        <div class="icon-box"  data-aos-delay="200">-->
  <!--                            <br><br>-->
  <!--                            <h3 align="center" style="font-weight: bold">Direct Medical Cost</h3>-->

  <!--                            <p align="center">-->
  <!--                                Direct costs include Outpatient and inpatient health services (including surgery), laboratory and radiographic examinations, and pharmacological therapy. These are widely expensive procedures which are done to treat obesity and have extremely long recovery timelines and often cost thousands of dollars.-->
  <!--                            </p>-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->

  <!--            <div class="row justify-content-center">-->
  <!--                <div class="col-md-10 offset-md-1 d-flex align-items-stretch one-cat-left">-->
  <!--                    &lt;!&ndash;                    <div class="col-md-2 d-flex align-items-stretch color-block-white">test</div>&ndash;&gt;-->
  <!--                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 one-cat-right">-->
  <!--                        <div class="icon-box"  data-aos-delay="200">-->
  <!--                            <br><br>-->
  <!--                            <h3 align="center" style="font-weight: bold">Indirect Economic Cost</h3>-->

  <!--                            <p align="center">-->
  <!--                                Indirect costs of obesity include the value of lost work, insurance and other factors. It is argued that obese employees tend to work lesser and miss significant amounts of work due to illness. In Australia, clinically obese individuals are required to pay a higher premium to the insurance companies as they have a lower life expentency than others. These are some indirect costs which occur due to this condition.-->
  <!--                            </p>-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                    <div class="col-md-4 d-flex align-items-stretch">-->
  <!--                        <img src="/assets/img/obeseinfo/impacts/indcost.jpg" class="obese-img">-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </section>-->

  <!-- ======= Economic Cost Block ======= -->
  <section class="light sponsor-cards">
    <div class="container py-2">

      <article class="postcard light red">
        <img class="postcard__img" src="/assets/img/obeseinfo/impacts/dcosts.png" alt="Image Title" />
        <div class="postcard__text t-dark">
          <h2>Direct Medical Costs</h2>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Direct costs include Outpatient and inpatient health services (including surgery), laboratory and radiographic examinations, and pharmacological therapy. These are widely expensive procedures which are done to treat obesity and have
            extremely long recovery timelines and often cost thousands of dollars.
          </div>
        </div>
      </article>

      <article class="postcard light red">
        <img class="postcard__img" src="/assets/img/obeseinfo/impacts/indcost.jpg" alt="Image Title" />
        <div class="postcard__text t-dark">
          <h2> Indirect Costs</h2>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Indirect costs of obesity include the value of lost work, insurance and other factors. It is argued that obese employees tend to work lesser and miss significant amounts of work due to illness. In Australia, clinically obese individuals
            are required to pay a higher premium to the insurance companies as they have a lower life expentency than others. These are some indirect costs which occur due to this condition.
          </div>
        </div>
      </article>

    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs-inner">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Social Costs</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Social Cost Block ======= -->
  <section class="light sponsor-cards">
    <div class="container py-2">

      <article class="postcard light blue">
        <img class="postcard__img" src="/assets/img/obeseinfo/impacts/loc.jpg" alt="Image Title" />
        <div class="postcard__text t-dark">
          <h2>Lack of Confidence</h2>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Several studies have shown that obese individuals tend to have a lower level of confidence as compared to their colleagues and are often very quite and refrain from expressing their opinions. 67% of Australia’s obese teens tend to suffer
            from a mild depression and often go to therapy to alleviate their problems. It is also reported that obese people tend to not socialise among colleagues fearing they might be excluded and undermined.
          </div>
        </div>
      </article>

      <article class="postcard light blue">
        <img class="postcard__img" src="/assets/img/obeseinfo/impacts/bullying.jpg" alt="Image Title" />
        <div class="postcard__text t-dark">
          <h2> Bullying </h2>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Bullying is an extremely serious situation which affects teens in the long term. There have been several studies which have shown that there is a strong connection between bullying and obesity and that young teens who suffer from obesity
            tend to be bullied and often face severe trauma which shapes their adult life. The teens who are bullied are often due to their body and is a serious offence in Australia as it may lead to depression in the young adults.
          </div>
        </div>
      </article>

    </div>
  </section>

  <!-- ======= Lead to treatment page ======= -->
  <section>
    <div class="container">
      <h2 style="text-align: center">
        Want to know how you can fight Obesity?
      </h2>
      <div class="text-center mt-4">
        <a class="round-green-button px-5" href="/obese-info-treatment" style="alignment: center; color: white">Pathway to Recovery</a>
      </div>
    </div>
  </section>



  <!-- Portfolio Modals for Physical and Mental Health-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Type 2 Diabetes</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/type2d.png" alt="..." />
                <p>
                  Heart and blood vessel disease are two of the most common comorbidities associated with diabetes. Diabetes is linked to a higher risk of heart disease, stroke, high blood pressure, and blood vessel narrowing (atherosclerosis) and
                  also Nerve injury in the limbs (neuropathy).
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Heart Diseases</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/heartdi2.png" alt="..." />
                <p>
                  The common impacts include Chest pain, chest tightness, chest pressure and chest discomfort (angina). It also has Shortness of breath including pain, numbness, weakness or coldness in your legs or arms. Worst case scenarios lead to
                  death.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Stroke</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/stroke.png" alt="..." />
                <p>
                  Strokes can leave one side of the body weak or paralyzed, causing problems with coordination and balance. Many patients have great tiredness (fatigue) in the weeks following a stroke, and may also have trouble sleeping, which makes
                  them even more fatigued.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">High Blood Pressure</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/bloodpressure.png" alt="..." />
                <p>
                  Blood vessels can be severely damaged if blood pressure is too high for an extended period of time. This injury can lead to a variety of consequences, some of which are potentially fatal. Heart failure, vision loss, stroke, kidney
                  disease, and other health issues are among them.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Anxiety</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/anxiety.jpg" alt="..." />
                <p>
                  Anxiety disorders are mental illnesses that cause a person to worry or fret excessively about specific situations or areas of their lives. Anxiety can cause havoc in a person's life by affecting their social interactions,
                  self-esteem, and capacity to execute everyday duties at work or school.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Eating Disorder</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/edisorder.jpg" alt="..." />
                <p>
                  One of the prominent conditions due to mental health issues are eating disorders which can cause stomach pain and bloating, Nausea and vomiting, blood sugar fluctuations, blocked intestines from solid masses of undigested food. This
                  can also lead to several infections and emergency situations.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">SCHIZOPHRENIA</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/impacts/depre.jpg" alt="..." />
                <p>
                  Schizophrenia is characterized by a variety of cognitive, behavioral, and emotional issues. It can cause hallucinations, delusions, and very disordered thinking and behavior, which can make it difficult for your child to operate.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</main>

<script>

</script>
<%- include('../partials/footer') %>
