<%- include('../partials/head_tag') %>

<meta name="description" content="" />
<meta name="author" content="" />
<title>Cause of Obesity</title>

<!-- include css -->
<link rel="stylesheet" href="/css/obese_info_added_custom.css">

<%- include('../partials/navbar') %>

<!-- include css cursor to have collapsable blocks -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Causes of Obesity</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/obese-info">General Info</a></li>
          <li>Cause of Obesity</li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- Intro block -->
  <section class="intro-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 offset-md-1 d-flex align-items-stretch one-cat-left">
          <!--                    <div class="col-md-2 d-flex align-items-stretch color-block-white">test</div>-->
          <div class="col-md-4 d-flex align-items-stretch">
            <img src="/assets/img/causes.png" class="obese-img">
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 one-cat-right">
            <div class="icon-box" data-aos-delay="200">
              <br><br>
              <h3 align="center" style="font-weight: bold">Cause of Obesity</h3>

              <p align="center">The fundamental cause of obesity is an energy imbalance between calories consumed and calories expanded.However, the real causes are more complicated. Better understanding the causes of obesity can help you better treat obesity.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Obesity is a Complex Problem</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Cause Video Intro ======= -->
  <section class="cause-video">
    <div class="container">
      <div class="row justify-content-center">
        <h2 align='center' class='mb-4'>This video will explain the various causes for obesity!</h2>
        <iframe src="https://www.youtube.com/embed/DY7wKeM2RT4" frameborder="0" height="500px" width="800px">
        </iframe>

      </div>
    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 id="sub-section-header">Root Causes of Obesity</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- Root Causes of Obesity Content -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Root Cause 1-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/gene.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Genetic Factors</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Root Cause 2-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/sleep.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Lack of Sleep</div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Root Cause 3-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/sedentary.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Sedentary Lifestyle</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <!-- Root Cause  4-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/lack_exercise.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Absence of Physical Activity</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
          <!-- Root Cause 5-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/drug.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Drug-Induced Obesity</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Root Cause 6-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="/assets/img/obeseinfo/causes/dietary.png" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Dietary Patterns</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Lead to treatment page ======= -->
  <section>
    <div class="container">
      <h2 style="text-align: center">
        Want to know what are impacts from obesity?
      </h2>
      <div class="text-center mt-4">
        <a class="round-green-button px-5" href="/obese-info-effect" style="alignment: center; color: white">Impacts from Obesity</a>
      </div>
    </div>
  </section>


  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Genetic Factors</h2>
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/gene.png" alt="..." />
                <p>
                  Obesity has long been associated with genetic components. Although several genes based on familial cases have been identified, the majority of obese individuals occur randomly in the population.
                  <br><br>It is now accepted that obesity is a complex, non-mendelian trait that may result from numerous susceptible loci. The etiology of obesity is multifactorial, involving a complex interaction among genetics, hormones and the
                  environment.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Lack of Sleep</h2>
                <!--                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/sleep.png" alt="..." />
                <p>
                  Obesity is a complex condition that can be influenced by a wide range of factors. One of the factors is sleep duration. Sleep deficiency is becoming widespread in both adults and adolescents and is accompanied by certain behaviors
                  that can lead to obesity. Various studies have found that people with shorter sleep duration are more likely to be overweight or obese, hence strategies for the obesity management should incorporate of sleep pattern considerations.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Sedentary Lifestyle</h2>
                <!--                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/sedentary.png" alt="..." />
                <p>
                  Various behavioral and environmental factors such as high energy density diet, increased portion size, low physical activity and adoption of a sedentary lifestyle as well as eating disorders are considered important risk factors for
                  the development of obesity. It has been observed that obesity is more common in people of higher socioeconomic status and among those living in urban communities.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Physical Activity Decrease</h2>
                <!--                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/lack_exercise.png" alt="..." />
                <p>
                  Along with dietary changes, lifestyle changes that reflect reduced physical activity are among the risk factors. Several studies have shown that insufficient physical activity is one of the important risk factors of obesity.
                  Work-related activity has declined over recent decades in industrialized countries due to modernization, convenient services, and high standard of living. Leisure time dominated by television viewing and other physically inactive
                  pastimes has increased, and this habit ultimately results in weight gain and obesity.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Drug-Induced Obesity</h2>
                <!--                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/drug.png" alt="..." />
                <p>
                  One of the causes of obesity is medication-induced weight gain. Different drug classes such as antipsychotics, antidepressants, antihyperglycemics, antihypertensives and corticosteroids, contain medications that are associated with
                  significant weight gain.
                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Dietary Patterns</h2>
                <!--                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                <img class="img-fluid d-block mx-auto" src="/assets/img/obeseinfo/causes/dietary.png" alt="..." />
                <p>
                  As the use of pharmaceuticals continues to increase, it is pertinent for clinicians to consider the weight-gaining effects of medications prior to prescribing or in the course of treatment.
                  <br><br>The increasing westernization, urbanization, and mechanization occurring in most countries around the world is associated with changes in the diet. Numerous conveniently located eating establishments that promote dining away
                  from home, a high variety of foods at mealtime and unreasonably large portion sizes may be factors leading to weight gain. Obesity continues to increase due to overeating, frequency of eating, a diet high in carbohydrates, low in
                  protein and high in saturated fats.

                </p>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button" id="close-btn">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

<script>

</script>
<%- include('../partials/footer') %>
